[build]
builder = "DOCKERFILE"
dockerfilePath = "./Dockerfile"
watchPatterns = ["**/*"]

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 120
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
numReplicas = 1
